@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}
button {
  background: transparent;
  border: none;
}
.top {
  height: 40vh;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bottom {
  height: 60vh;
}
.bottom-dark {
  background-color: hsl(235, 21%, 11%);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}
a {
  text-decoration: none;
  /* color: hsl(0, 0%, 98%); */
  cursor: pointer;
}
h1 {
  letter-spacing: 10px;
  color: #fff;
  font-weight: 700;
}
.dark-bg,
.dark-bg [type="text"]:focus {
  background-color: hsl(235, 24%, 19%) !important;
  color: hsl(0, 0%, 98%) !important;
}
.light-bg {
  background-color: hsl(0, 0%, 98%);
  color: #111;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: url("./images/icon-check.svg"),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position: center;
  background-size: 100% 100%;

  /* border: 1px solid hsl(192, 100%, 67%); */
}
.completed-item {
  text-decoration: line-through;
  color: #999;
}
.circle {
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle.active {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.input-group-text {
  border: 0 !important;
}
.list-group-item button {
  display: none;
}
.list-group-item:hover button {
  display: block;
}
